<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<script defer
	src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js"
	integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL"
	crossorigin="anonymous"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js"
	integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<!--  <link rel="stylesheet" href="/css/regist.css" th:href="@{/css/regist.css}">-->
</head>
</head>
<body>
	<br>
	<br>
	<div class="container">
		<div class="row center">
			<h5 class="col">新規登録</h5>
			<!--  <c:if test="${validationMessage != null}">
				<P class="red-text">${validationMessage}</P>
			</c:if>-->

		</div>
		<div class="row">
			<div class="section"></div>
			<div class="col-6 offset-md-3">
				<form action="#" th:action="@{/registConfirm}"
					th:object="${registConfirmForm}" method="post">
					<ul th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}" class="text-danger"></ul>
					<ul th:if="${#fields.hasErrors('*{address}')}" th:errors="*{address}" class="text-danger"></ul>
					<ul th:if="${#fields.hasErrors('*{loginId}')}" th:errors="*{loginId}" class="text-danger"></ul>
					<ul th:if="${#fields.hasErrors('*{loginPass}')}" th:errors="*{loginPass}" class="text-danger"></ul>
					<ul th:if="${#fields.hasErrors('*{loginPass2}')}" th:errors="*{loginPass2}" class="text-danger"></ul>
					<div class="card">
						<div class="card-body">

							<div class="form-group">

								<div class="row">
									<div class="col-10">
										<div class="mb-3">
											<label for="username">名前</label>
											<div class="input-group">
												<input type="text" class="form-control" id="username"
													placeholder="名前 " th:field="*{name}">
												<div class="invalid-feedback" style="width: 100%;">
													Your username is required.</div>
											</div>

										</div>
										<div class="mb-3">
											<label for="username">住所</label>
											<div class="input-group">
												<input type="text" class="form-control" id="username"
													placeholder="住所" th:field="*{address}">
												<div class="invalid-feedback" style="width: 100%;">
													Your username is required.</div>
											</div>

										</div>
										<div class="mb-3">
											<label for="username">ログインID</label>
											<div class="input-group">
												<input type="text" class="form-control" id="username"
													placeholder="LoginID" th:field="*{loginId}">
												<div class="invalid-feedback" style="width: 100%;">
													Your username is required.</div>
											</div>
										</div>
										<div class="mb-3">
											<label for="username">パスワード</label>
											<div class="input-group">
												<input type="text" class="form-control" id="username"
													placeholder="LoginID" th:field="*{loginPass}">
												<div class="invalid-feedback" style="width: 100%;">
													Your username is required.</div>
											</div>

										</div>
										<div class="mb-3">
											<label for="username">パスワード(確認)</label>
											<div class="input-group">
												<input type="text" class="form-control" id="username"
													placeholder="LoginID" th:field="*{loginPass2}">
												<div class="invalid-feedback" style="width: 100%;">
													Your username is required.</div>
											</div>

										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-10 btn_push">
							<button class="btn btn-primary btn-lg btn-block" type="submit">登録」</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>